/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
*{
     color: rgb(255, 255, 255);
}
/* shared style */
.white{
    color: white;
}
header{
    background: linear-gradient(100.00deg, rgba(17, 17, 17,1),rgba(119, 119, 119,15) 90%);
     max-width: 1500px;
    margin: 0 auto;
}
main{
    margin: 20px;
}
body{ 
    background: rgb(0, 0, 0); 
}
.display{
    display: flex;
} 
.org-txt{
    color: rgb(230, 83, 60);
}
.small{
    color: rgba(255, 255, 255, 0.5);
     font-size: 1rem;
}
.org-btn{
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);  
    border-radius: 39px; 

}
.big1{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
.big2{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.big3{
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
}
.big4{
    font-size: 1.5rem;
}
main > section{
    margin-top: 130px;
}

/* navbar */
.navbar, .banner{
    max-width: 1300px;
    margin: 0 auto;
}
.fit{ 
   background-color: rgba(17, 17, 17, 1);
}
.navbar{ 
   justify-content: space-between; 
   align-items: center; 
}
.navbar-item{
    list-style: none;
    margin-right: 47px;
}
.burger{
    display: none;
}
.navbarlink{ 
    text-decoration: none;
    font-size: 1.125rem; 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 39px; 
    justify-content: center;
    align-items: center;
    padding: 4px;

}
.navbar-link{
    text-decoration: none;
}
.navbar-title{
    font-size: 2.25rem;
}
.home{
    padding: 2px 20px;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-between; 
    
}
.banner-head{
    font-size: 4.8rem;
    color: rgb(255, 255, 255);
    max-width: 500px;
} 
.banner-para{
    max-width: 520px; 
}
.btn1{
 padding: 16px 40px;
 font-size: 1.2rem;
 border: 1px solid rgb(230, 83, 60); 
}
.banner-pic{
    position: relative;
}
.btn2{
    padding: 16px 40px;
    font-size: 1.2rem;
    border-radius: 39px; 
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    
} 
.banner-btn{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px; 
    background: rgba(48, 48, 48, 0.54); 
    width: 193px;
    height: 98px;
    position: absolute;  
    top: 15%;
    left: 55%;
}
.banner-bt{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px; 
    background: rgba(48, 48, 48, 0.54); 
    width: 206px;
    height: 96px;
    padding-left: 50px; 
    padding-right: 23px;
    position: absolute;  
    top: 80%;
    left: -25%;

}
 
.circle{
    background-color: tomato;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius:100%;
    top: 82%;
    right: 110%;
    
}
/* habit */
.habit-card{
    max-width: 1300px;
    margin: 0 auto;
}
.habit-title{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}
.habittitle{
    text-align: center;
    padding-bottom: 50px;
}
.card{
    border-radius:50%;
    padding-bottom: 10px;
}

/* run section */
.run{
     color: rgba(255, 255, 255, 1);
     display: flex; 
     height: 450px;  
     border-radius: 18px;
     background: rgb(34, 34, 34); 
     align-items:center ; 
     justify-content: space-between;
     max-width: 1300px;
    margin: 0 auto;
     margin-top: 90px;
     padding: 0 30px;
}
.run-btn{
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);  
    border-radius: 39px; 
    border-color: rgb(230, 83, 60);
    width: 224px;
    height: 54px;
    font-size: 1.125rem;
}
.run-txt{ 
    width: 443px;
   height: 290px;    
   padding-left: 40px;
   padding-bottom: 100px;

}
.run-pic{
    width: 366px;
    height: 312px;
    border-radius: 18px; 
  
}
.ran1{
  font-size: 3rem;
}
/* Bmi calculator */ 
.Bmi-parent{
    background: rgb(34, 34, 34);
    text-align: center;
    justify-content: center;  
    max-width: 100%;
    margin: 0 auto;
    height: 440px;
    gap: 170px;  
    padding-top: 30px;
    padding-bottom: 10px; 
}
.bmi-cal{ 
    width: 577px;
    height: 370px;   
} 
.bmi-tab{
    height: 370px; 
}
td{
     padding: 20px;
     align-items: start;
}
.CAL{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.row{
    grid-column: span 2/3; 
}
input{ 
    border-radius: 8px; 
    background: rgba(255, 255, 255, 0.1);
    border-color:  rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.6); 
    padding: 12px 40px 12px 20px;
    font-size: 1rem; 
}
 .bmi-btn
 {
    width: 224px;
    height: 54px;
    margin-top: 15px;
    font-size: 1.125rem ;
    border-color: rgb(230, 83, 60);
 }
/* Team */
.team{
    padding-bottom: 50px;
}
.team-title{
    text-align: center;
    padding-bottom: 50px;
}
.img{ 
margin: 20px 0px;
border-radius: 18px;
display: grid;
grid-template-columns: repeat(3,1fr); 
max-width: 1300px;
margin: 0 auto;
background: rgba(255, 255, 255, 0.1);
text-align: center; 
}
  
.pic{
    width: 340px;
    height: 272px;
    padding: 20px ;
    border-radius: 18px;
    
}
 .pic-1,.pic-2,.pic-3,.pic-4,.pic-5,.pic-6{
    position: relative;
    border-radius: 18px; 
}
.pic1{
    position: absolute;  
    left: 11%;
    top: 444%; 
    
    
} 
.pic2{
    position: absolute;  
    left: 40%;
    top: 444%;   
} 
.pic3{
    position: absolute;  
    left: 68%;
    top: 444%;   
} 
.pic4{
    position: absolute;  
    left: 11%;
    top: 488%;   
} 
.pic5{
    position: absolute;  
    left: 40%;
    top: 488%;   
} 
 .pic6{
    position: absolute;  
    left: 68.5%;
    top: 489%;   
} 
/* footer */
  footer{
    background: rgba(255, 255, 255, 0.1);
    align-items: center; 
   height: 100%; 
   width: 100%;
   justify-content: space-around;
   max-width: 1300px;
   margin: 0 auto;
    
  }
   .ul{
    font-size:1rem ; 
    color: rgba(255, 255, 255, 0.5);
  }
  .fot1{
    width: 443px;
    height: 176px;
    gap: 20;   
  }
  
 .last{
    max-width: 1300px;
   margin: 0 auto;
   display: flex; 
   border-bottom: 2px solid rgba(255, 255, 255, 0.6) ;
  justify-content: center;
   gap : 40px;
 }
 .cpy{
    text-align: center;
    color: rgba(255, 255, 255, 0.5)
 }
/* media query */
@media screen and (max-width: 576px) 
{   .banner-content{
    padding: 20px;
}
      .navbarlink{ 
        display: none; 
    }
    .burger , .habit-card {
        display: block;
    }
    .navbar {
        font-size: 2.25rem;
        text-align: left;
        padding: 20px;
        
    } 
   
     .banner,.run ,.last ,.Bmi-parent   {
        flex-direction: column;
    }
    .navbar ,.banner-pic,.habit-card{ 
        text-align: center;
    }
    .banner-head{
        font-size: 2.25rem;
    }
    .banner-para{
        font-size:1rem ;
    }
    .banner-btn{  
       left: 60%;
       width: 145.91px;
       height: 74.09px;
    }
    .banner-bt{  
        left: 10%;
        top: 40%;
        width: 155.74px;
         height: 72.58px;
    }
    .circle{
        top: 40%;
        left: 12%;
    }
    .big1{
        font-size: 30.24px;
        padding: 0px;
    }
    .small1{
        font-size: 0.6143rem;
        color: rgba(255, 255, 255, 0.5);
    }
    .habit-card{
        width: 231px;
        height: 274px;
    } 
     .run-pic{
        width: 287px;
        height: 170px;
        padding-bottom: 20px;
     }
     .run{
        margin-top: 1400px; 
        width: 353px;
        height: 531px; 
        padding: 0 10px;
       
     }
     .run-btn{ 
        width: 287px;
        height: 54px;
     } 
    .run-txt{
        width: 287px;
        height: 76px; 
        padding-left: 10px;
    }
    
   .img{
    width: 353px;
    height:1970px;
    grid-template-columns: repeat(1,1fr);
    padding-right: 25px;
   }
    
   .pic1{ 
    left: 22%;
    top: 1659%;   
   } 
   .pic2{ 
    left: 22%;
    top: 1769%;   
   } 
   .pic3{ 
    left: 22%;
    top: 1875%;   
   } 
   .pic4{ 
    left: 22%;
    top: 1984%;   
   } 
   .pic5{ 
    left: 22%;
    top: 2092%;   
   } 
   .pic6{ 
    left: 22%;
    top: 2202%;   
   } 
   footer{ 
    padding-left: 20px; 
    width: 100%;  
   }   
   .last{
    gap: 0px;
   }
   input{
    width: 150px;
    height: 20px;
    padding: 5px;
    gap: 0px;
     
   }
   .row{
    width: 325px;
     height: 23px; 
   }
   .Bmi-parent{
    width: 394px;
    height: 772px;
    padding-left: 20px;
    gap: 5px; 
   }
   td{
     padding: 15px;

   } 
   .bmi-cal{
    width: 260px;
    
   }
   .bmi-btn{
    width: 224px;
    height: 54px;
   }
   .txt{
    color: rgba(255, 255, 255, 0.5);
   }
   
}